{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <meta http-equiv="cleartype" content="on">
   <meta name="robots" content="index,follow">

   <title>{{ shop.name }}</title>

   {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
   {% endif %}

   <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- Stylesheets -->
  {% comment %}{{ 'styles.scss.css' | asset_url | stylesheet_tag }} {% endcomment %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}" />
  <link rel="canonical" href="{{ canonical_url }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

</head>
<body id="password_page">
  <container class="text-center">
  <div>
    {% if settings.logo_use_image %}
    <a href="/">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
    </a>
    {% else %}
    <h2>{{shop.name}}</h2>
    {% endif %}
  </div>

  <div>
    {% if shop.password_message and shop.password_message != '' %}
    {{ shop.password_message }}
    {% else %}
    <p>This store will be opening soon...</p>
    {% endif %}
  </div>
  <div>
    {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">Enter store using password:</label>
    <input type="password" name="password" id="password" autofocus="" />
    <input class="btn" name="commit" type="submit" value="Enter" />
    {% endform %}
  </div>
  <div>
      {% form 'customer' %}

        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <p>Thanks for signing up!</p>
        {% else %}
          <p>Find out when we open:</p>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email">Email address</label>
          <input type="email" name="contact[email]" id="email" placeholder="Your email">
          <input type="submit" value="Submit">
        {% endif %}

      {% endform %}

    </div

  </container>
</body>
</html>
